@font-face{
    font-family: 'questrial';
    src: url('../asset/font/questrial.ttf');
}
@font-face{
    font-family: 'jost';
    src: url('../asset/font/Jost-VariableFont_wght.ttf');
}
*{
    margin: 0;
    padding: 0;
    z-index: 0;
    box-sizing: border-box;
    font-family: 'questrial';
    outline: none;
}
body{
    overflow-x: hidden;
    color: rgba(0,30,50);
    background-color: rgba(255,255,200);
}
body.fixed{
    overflow-y: hidden;
}
a{
    text-decoration: none;
}
b{
    color: transparent;
    background-image: linear-gradient(45deg, rgba(0,200,100), rgba(0,150,200));
    -webkit-background-clip: text;
    background-clip: text;
}

::-webkit-scrollbar{
    background-color: rgba(40,40,40);
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(20,20,20);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0,0,0);
}

/* NAVBAR */
.navbar{
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 75px;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
    width: 100%;
    transition: background-color 300ms, height 300ms, padding 300ms;
}
.navbar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,.0), rgba(0,0,0,.7));
    transform: translateY(-100%);
    transition: transform 400ms;
}
.navbar .toggle{
    position: relative;
    border: none;
    height: 15px;
    width: 75px;
    background-color: transparent;
    cursor: pointer;
    padding: 20px 0;
    transition: transform 150ms;
}
.navbar .toggle::before{
    content: '';
    position: absolute;
    top: 12.5px;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(0,30,50);
    transition: width 100ms, transform 150ms;
}
.navbar .toggle::after{
    content: '';
    position: absolute;
    bottom: 12.5px;
    right: 0;
    width: 70%;
    height: 3px;
    background-color: rgba(0,30,50);
    transition: width 100ms, transform 150ms;
}
.navbar .toggle.open::before{
    width: 50%;
    transform: rotateZ(45deg) translate(-6px, 14px);
}
.navbar .toggle.open::after{
    width: 50%;
    transform: rotateZ(-45deg) translate(-5px, -15px);
}
.navbar.scroll{
    color: black;
}
.navbar.scroll::before{
    transform: translateY(0);
}
.navbar.solid{
    background-color: rgba(255,255,255);
    color: black;
}
.navbar.solid::before{
    transform: translateY(-100%);
}
.navbar .icon-link{
    margin-right: 10px;
}


/* SIDEBAR */
.sidebar{
    z-index: 2;
    top: 75px;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform-origin: top;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 300ms, opacity 300ms, top 300ms;
}
.sidebar a{
    font-size: 40px;
    font-weight: 800;
    color: black;
    border-bottom: 3px dotted transparent;
    margin-bottom: 40px;
}
.sidebar a:hover{
    border-bottom: 3px dotted black;
}
.sidebar a:last-child{
    margin-bottom: 0;
}
.sidebar.open{
    transform: translateX(0);
    opacity: 1;
}
.sidebar.scroll{
    top: 75px;
}

/* HEADER */
.header{
    display: grid;
    grid-template-columns: auto 500px;
    column-gap: 50px;
    padding: 20px 100px;
    min-height: 600px;
    height: 100vh;
}
.header .image{
    display: flex;
    align-items: center;
}
.header .image img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 30% 0 30% 0;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.2);
}
.header .detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header .detail h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}
.header .detail p{
    font-size: 20px;
    color: rgba(30,30,30);
}

/* CONTAINER */
.container{
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container.container-center{
    align-items: center;
    text-align: center;
}
.container span.container-span{
    color: rgba(100,120,150);
    font-size: 18px;
}
.container h1.container-title{
    font-size: 50px;
    margin: 10px 0;
    max-width: 550px;
}

/* PROGRESS */
.progress-container{
    display: grid;
    grid-template-columns: 47% 47%;
    width: 100%;
    column-gap: 70px;
    row-gap: 70px;
    padding: 100px 30px;
}
.progress{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.progress .image{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.progress .image span{
    font-size: 30px;
    font-weight: 800;
}
.progress img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 30px 5px rgba(0,0,0,.3);
    margin-right: 20px;
}
.progress .bar{
    width: 100%;
    display: flex;
}
.progress span.bar{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0,.1);
    border-radius: 30px;
    overflow: hidden;
}
.progress span.bar::before{
    content: '';
    height: 100%;
}
.progress span.bar.low::before{
    width: 10%;
    background-color: rgba(255,50,0);
}
.progress span.bar.mid::before{
    width: 50%;
    background-color: rgba(255,150,0);
}
.progress span.bar.high::before{
    width: 90%;
    background-color: rgba(0,150,10);
}
.progress span.bar.full::before{
    width: 100%;
    background-color: rgba(0,150,250);
}


/* CONTAINER */
.content-container{
    display: grid;
    grid-template-columns: 48% auto;
    column-gap: 50px;
    padding: 50px 0;
}
.content-container .content{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    border-radius: 30px 0 30px 0;
    box-shadow: 0 0 30px 5px rgba(0,0,0,.3);
}
.content-container .content .detail{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 50px 15px 15px 15px;
    color: rgba(255,255,255);
    background-image: linear-gradient(0deg, rgba(20,20,20), rgba(0,0,0,.0));
    transform: translateY(100%);
    transition: transform 300ms;
}
.content-container .content:hover .detail{
    transform: translateY(0);
}
.content-container .content .detail a{
    display: inline-block;
    font-weight: 800;
    color: transparent;
    background-image: linear-gradient(45deg, rgba(0,255,150), rgba(0,150,255));
    -webkit-background-clip: text;
    background-clip: text;
    padding: 5px 0;
}
.content-container .content .detail a i{
    margin-right: 5px;
}
.content-container .content img{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

/* INTERNSHIP */
.internship{
    display: grid;
    grid-template-columns: 150px auto;
    padding: 50px 30px;
}
.internship .detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 30px;
}
.internship .detail h1{
    margin-top: 10px;
    font-size: 45px;
}
.internship .detail span.date{
    padding: 7px 12px;
    border-radius: 30px;
    font-weight: 800;
    background-color: rgba(0,30,50);
    color: white;
}
.internship img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 20px 0 20px 0;
    box-shadow: 0 0 30px 5px rgba(0,0,0,.3);
}

/* CENTERED */
.centered{
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON */
.button{
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    border: 3px solid rgba(0,30,50);
    border-radius: 30px;
    font-weight: 800;
    background-color: rgba(0,30,50);
    color: rgba(255,255,255);
    transition: background-color 150ms, color 150ms;
    box-shadow: 0 0 30px 5px rgba(0,0,0,.3);
}
.button:hover{
    color: rgba(0,30,50);
    background-color: rgba(0,0,0,.0);
}

@media (max-width: 1200px){
    .grid-one-1200{
        grid-template-columns: auto;
    }
    .header{
        padding: 100px 50px;
        grid-template-columns: auto 350px;
    }
    .header .image img{
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 800px){
    .header{
        display: flex;
        flex-direction: column-reverse;
        padding: 100px 50px;
        min-height: unset;
        height: unset;
        align-items: center;
    }
    .header .detail{
        padding: 50px 0;
    }
    .grid-one-800{
        grid-template-columns: auto;
    }
    .content-container{
        grid-template-columns: auto;
        row-gap: 30px;
        width: 100%;
    }
    .content-container .content img{
        height: 350px;
    }
}
@media (max-width: 600px){
    .internship{
        grid-template-columns: auto;
        padding: 50px 0;
    }
    .internship .detail{
        padding: 30px 0;
    }
    .grid-one-600{
        grid-template-columns: auto;
    }
    .progress-container{
        padding: 100px 0;
    }
}

